.gray{
    background-color:grey;

}
.title{
     padding: 10%;

}
h2{
    color:red;

}
.triangle{
    background-color: green;
    border:solid 3px;
    margin:3px;
    margin-right: 1050px;

}
.thetriangle{
    background-color:white;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;

}
.square{
    position: absolute;
    background-color: blue;
    border:solid 3px;
     margin:3px;
    margin-left: 300px;
    margin-right: px;
    margin-bottom:30px;
    top:20%;

}
.thesquare{
    background-color: white;
    width:100px;
    height:100px;
    margin-left:30px;
}

.rect{
    position: absolute;
    background-color: yellow;
    border:solid 3px;
     margin:3px;
    margin-left: 500px;
    margin-right: 700px;
    top:20%;
}
.therectangle{
    width: 200px;
    height: 100px;
    background-color: white;
}
.circle{
    position: absolute;
    background-color: red;
     margin:3px;
    border:solid 3px;
    margin-right: 500px;
    margin-left: 700px;
    top:20%;
}
