.gray{
    background-color:grey;

}
.title{
     padding: 10%;

}
h2{
    color:red;

}
.triangle{
    background-color: green;
    border:solid 3px;
}
.square{
    background-color: blue;
    border:solid 3px;
}
.rect{
    background-color: yellow;
    border:solid 3px;
}
.circle{
    background-color: red;
    border:solid 3px;
}
