.gray{
    background-color:grey;

}
.title{
     padding: 10%;

}
h2{
    color:red;

}
h3{
    text-align: center;
}
.triangle{
    background-color: green;
    border:solid 3px;
    margin:3px;
    margin-right: 1050px;

}
.thetriangle{
    margin-top:10px;
    width: 0;
    height: 0;

    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 140px solid white;
}
.thetriangle p{
    position:absolute;
    top:25%;
    left:5%;
}

.square{

    position: absolute;
    background-color: blue;
    border:solid 3px;
    margin:3px;
    margin-left: 300px;
    margin-right: px;
    margin-bottom:30px;
    top:20%;

}
.thesquare{
    margin-top:10px;
    background-color: white;
    width:100px;
    height:100px;
    margin-left:30px;
}
.thesquare p{
    position:absolute;
    top:25%;
    left:5%;
}

.rect{
    position: absolute;
    background-color: yellow;
    border:solid 3px;
     margin:3px;
    margin-left: 500px;
    margin-right: 700px;
    top:20%;
}
.therectangle{
    margin-top:10px;
    width: 200px;
    height: 100px;
    background-color: white;
}
.therectangle p{
    position:absolute;
    top:25%;
    left:5%;
}
.circle{

    position: absolute;
    background-color: red;

    border:solid 3px;
    margin-right: 500px;
    margin-left: 900px;
    top:20%;
}
.thecircle{
    margin-top:10px;
background-color: white;
    width: 100px;
    height: 100px;
   border-radius: 90px;
}
.thetcircle p{
    position:absolute;
    top:25%;
    left:5%;
}
